.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
 z-index: 1;
 position: relative;
 width: 100vw;
 display: flex;
 justify-content: space-between;
 box-shadow: rgba(0, 0, 0, 0.3) 0px 0.25rem 0.25rem;
 height: 40px;
 align-items: center;
 background-color:#CACACA;
}

.leftnav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30vw;
  height: 100%;
}

.midnav{
  width: 60vw;
}

.rightnav{
  width: 10vw;
  height: 100%;
}

.button-border{
  width: 10vw;
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  color: #202022;
  font-weight: 400;
}

.button:hover{
  text-decoration: none;
  color: #CACACA;
  background-color: #202022;
}

.banner-body{
  width: 100vw;
  height: 400px;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.banner-header {
  font-size: 40px;
  color: white;
}

.home{
  width: 100vw;
}

.posts{
  display: flex;
  flex-wrap: wrap;
  width: 80vw; 
}

.post-image{
  width: 20vw;
  
  height: 300px;
}
 .single-post{
  margin: 20px;
}
.login ,.signup{
  display: flex;
  min-width: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: 20vw;
  padding: 24px;
  border-radius: 8px;
}
.inputButton{
  background-color: #00747c;
  border: none;
  color: white;
  width: 100%;
  height: 50px;
  border-radius: 28px;
  margin: 10px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
}
.linkButton{
  background: none;
	color: #202022;
	border: none;
	padding: 0;
	font-size: 16px;
  font-weight: 900;
	cursor: pointer;
	outline: inherit;
}
.inputButton:hover {
  background-color: #01555b;
}
.linkButton:hover{
  color: #878787;
}

.inputContent{
  font-size: 16px;
  padding: 8px;
  width: 100%;
  height: 50px;
  margin-bottom: 24px;
  box-sizing: border-box;
  border: 1px solid #878787;
}
.loginScreen{
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.signin{
  align-self: flex-start;
  color: #202022;
}
.backgroundImg{
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.account-page{
position: relative;
 display: flex;
 width: 100vw;
 height: 100vh;
}
.side-nav{
  display: flex;
  flex-direction: column;
  width:7.5%;
  height: 100%;
  background-color:#CACACA ;
}
.account-content{
width: 90%;
}
.side-nav > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  text-decoration: none;
  color: #202022;
  font-weight: 400;
}
.side-nav > div:hover{
  background-color: rgba(0, 0, 0, 0.2);
}
.side-nav > div > p{
  margin: 0px;
}
.side-nav > div > img{
  width: 40px;
  height: 40px;
}
.contacts{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts > div > img{
  width: 40px;
  height: 40px;
}
.contacts > div {
  margin-left: 5px;
  margin-right: 5px;
}